* {
  box-sizing: border-box;
}



.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  
  
  .side-bar{
    // height: 100vh;
    height: 100%;
    width: 300px;
    background: #2f3e51;
    font-weight:bold;
    color: $main-color;
  &__top{
    height: 100px;
    background: #253141;
    display: flex;
    align-items: center;
    &--menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 260px;
      height: 20px;
      margin: 0 auto;
      .name{
      font-size: 16px;
    }
      .icon{
        text-align:right;
        line-height: 20px;
        width: 60px;
        height: 20px;
        text-decoration: none;
        color:$main-color;
        .edit__icon{
          margin-right:5px ;
        }
      }
    }
  }
  &__group{
    width: 100%;
    // height: 96px;
    a{
      text-decoration: none;
    }
    &--title{
      color:$main-color;
      padding: 20px 20px 5px 20px ;
      font-size:15px;

    }
  }
  &__message{
    text-decoration: none;
    color:$main-color;
    padding:0px 20px 40px 20px;
    font-size:11px;
        }
}
      

      
      

.main{
  position: relative;
  height: calc(100vh- 190px);
  width: calc(100vw - 300px);
  background:#fafafa;
  &__top{
    background: $main-color;
    height: 100px;
    border-bottom:solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &--left{
      padding-left:40px ;
      .chat-title{
        font-size: 20px;
        padding: 35px 0px 15px ;
        color: #333333;
      }
      .chat-members{
        font-size: 12px;
        color: #999999;
      }
    }
    &--right{
      margin-top: 28px;
      margin-right: 40px;
      width: 72px;
      height: 40px;
      padding: 12px 20px ;
      font-size: 16px;
      line-height: 16px;
      color: #38aef0;
      border: solid 1px;
      text-align: center;
      list-style: none;
      text-decoration: none;
      display: block;
      a {
        color: #38aef0;
        text-decoration:none
      }
    }
    }
      
    &__space{
    margin-left: 40px;
    padding-top:35px;
    &--post{
    display: flex;
    .member{
      color:#333333;
      font-size: 16px;
      padding-bottom: 12px;
      padding-right: 5px;
    }
    .time{
      color: #999999;
      font-size: 12px;
    }
    .content{
      color: #434A54 ;
      font-size: 14px;
    }
  }
}
&__bottom{
  position: relative;
  position: absolute;
  bottom:0px;
  background: #d2d2d2;
  height: 90px;
  width: calc(100vw - 300px);
  .form{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    .input-box{
      position: relative;
      &__text{
        width: calc(100vw - 505px);
        height: 50px;
      }
      &__image{
        cursor: pointer;
        position: absolute;
        right: 10px;
        top:10px;
        font-size: 1.5em 
      }
      .input-box__image--file{
        display: none;
      }
    }
  .submit-btn{
    width: 100px;
    height: 50px;
    background: #38aef0;
    color:$main-color;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 40px;
    }
  }
}
}

}